.primary-nav {

  &--colored {
    background-color: $mainColor;
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style-type: none;
    padding: .25rem 0;
  }

  a {
    text-align: center;
    color: $linkColor;
    text-decoration: none;
    font-weight: bold;
    padding-left: 1.125rem;
    display: block;
  }

  @mixin atSmall {
    li {
      float: left;
      padding: 1.125rem 0;
    }

    a {
      text-align: left;
    }
  }
}
